@import url('https://fonts.googleapis.com/css?family=Ysabeau+Infant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  --cream-color: #FAFAE9;
  --mint-color: #C4E1DC;
  --blue-color: #B2CED3;
  --pink-color: #F1C4BF;
  --beige-color: #F3E8E3;
  --dark-blue: #33485b;

  padding: 0;
  margin: 0;
  /* font-family: proxima-nova, sans-serif; */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;

  scroll-behavior: smooth;
  color: var(--dark-blue);

}


.header-banner {
  min-height: 5vh;
  margin-top: 5vh;
  font-size: 1.5em;
  width: 100%;
  z-index: -1;
  position: relative;
}

.header-banner img{
  width:100%;
  object-fit: contain;
  /* object-position: 0 100%; */
}

footer{
  width: 100%;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
}

.footer-banner{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  margin-top: -40vh;
}

.footer-banner img{
  width: 100%;
  object-fit: cover;
  object-position: 0 100%;

}

.top {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10px;
  margin-top: -20vw;
}

.top h2{
  font-family: 'Allura'; 
  font-size:5em; 
  font-weight:400;
}


.top h4{
  font-family: 'Lato';
  font-weight: 700;
  letter-spacing: 3px;
}

nav {
  background-color: transparent;
  color: #000;
  height: 60px;
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.logo a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin-left: 15px;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: text-decoration 0.3s ease;
}

.menu li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--blue-color);
}

@media (max-width: 600px) {
  .top h2{
    font-size: 3em;
  }

  /* .menu{
    display: none;
  } */
  /* ADD A HAMBURGER */
} 

section {

  /* border: 1px solid black; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: scroll; */
  min-height: 20vh;
  flex-direction: column;
  margin-bottom: 10%;
}

.banner {
  padding-top: 10vh;
  height: 40vh;
}


.banner-img {
  width: 60vw;
  height: auto;
  filter: brightness(110%);
  /* z-index: 0; */
  position: absolute;
  border-radius: 18px;
}


.banner-text-center {
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1; */
  text-align: center;
  font-size: 16px;
  font-style: italic;
  opacity: 60%;
}

.story-wrapper {
  width: 100vw;
  margin-top: 60px;
  line-height: 40px;
}

.story {
  padding: 2em;
  width: 50%;
  font-size: 1.3em;
}

.address {
  flex-direction: column;
}

.location {
  display: flex;
  flex-direction: row;
  height: 50vh;
  /* border: 1px solid black; */
  justify-content: center;
  width:100vw;
  font-style: 'Lato';
  font-weight: 700;
  letter-spacing: 3px;
}

.date {
  flex-direction: column;
  padding: 5vh;
}

.location-text {
  flex-direction: column;
  padding: 50px;
  width: 50%;
}

.location-image{
  width: 50%;
  padding: 50px;
  flex-direction: column;
  border-left: 1px solid var(--dark-blue);
}

.location-image img {
  width: 100%;
  filter: brightness(110%);
  border-radius: 18px;
}

@media (max-width: 600px) {
  .location {
    flex-direction: column;
    
    .location-image {
      border-left: none;
      border-top: 1px solid var(--dark-blue);
    }
  }

}

div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qa {
  flex-direction: column;
  padding-top: 5vh;
  width: 40%;
}

.colors {
  /* background-color: black; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;

}

button h3 {
  color: black;
}

button h3:hover {
  color: gray;
}


.sq {
  width: 100px;
  height: 100px;
}

.one {
  background-color: var(--cream-color);
  /* float:left; */
}

.two {
  background-color: var(--mint-color);
  /* float:left; */
}

.three {
  background-color: var(--blue-color);
  /* float:left; */
}

.four {
  background-color: var(--pink-color);
  /* float:left; */
}

.five {
  background-color: var(--beige-color);
  /* float:left; */
}


/* ############################## */
/* SOCIALS / FOOTER */

.socials {
  /* flex-direction: row; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr)); */
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
  z-index: 0;
  padding-bottom: 400px;
  align-items: center;
}

.social-text {
  flex-direction: column;
}

.social-icon {
  width: 50px;
  height: 50px;
  padding: 25px;
}


/* ######## */
/* WEDDING PARTY PAGE */

.party-header-banner{
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
  height: auto;
}

.wedding-party{
  width:100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}


.bridesmaids-section {
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
}

.bridesmaid, .groomsmen{
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  padding-left: 10em;
  padding-right: 10em;
  /* padding-bottom: 5em;
  padding-top: 2em; */
  width: 50%;
}

.kids{
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  padding-left: 10em;
  padding-right: 10em;
  /* padding-bottom: 5em;
  padding-top: 2em; */
  width: 50%;
}

.bridesmaid-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}

.bridesmaid-bio, .groomsmen-bio{
  display: flex;
  flex-direction: column;
  padding: 3em;
  padding-top: 0px;
}

.kids-bio {
  display: flex;
  flex-direction: column;
  padding: 1px;
  padding-top: 16px;
}

.groomsmen-section {
  display: flex;
  flex-direction: column;
  /* margin-top: 10vh; */
}



.groomsmen-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}

.kids-section {
  display: flex;
  flex-direction: column;
  /* margin-top: 10vh; */
}


.kids-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}


/* ******************************* */
/* Schedule page (and Food page) */

@media (max-width: 600px) {
  .schedule-cards, .food-cards{
    display: flex;
    flex-direction: column;
    /* Ensure column layout for smaller screens */
    align-items: center;
    /* Center items horizontally */
    width: 100%;
    /* Make sure the container takes the full width */
  }
}

@media (max-width: 600px) {
  .schedule-card, .food-card{
    width: 70px;
    /* This might be causing issues; try reducing this width */
    padding: 10px;
    margin: 10px;
  }
}

.schedule-container, .food-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.schedule-title, .food-title {
  padding-top: 20vh;
  flex-direction: column;
}

.food-cards{
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.schedule-cards {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.food-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3vh;
  padding: 3vh;
  border-radius: 8px;
  width: 250px;
  height: 100px;
}

.schedule-card {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3vh;
  padding: 3vh;
  border-radius: 8px;
  width: 250px;
  height: 100px;
}

.ceremony {
  background-color: var(--beige-color);
}

.cocktail {
  background-color: var(--blue-color);
}

.toast {
  background-color: var(--mint-color);
}

.dinner {
  background-color: var(--cream-color);
}

.cake {
  background-color: var(--pink-color);
}

.party {
  background-color: var(--beige-color);
}

.schedule-card-text, .food-card-text {
  flex-direction: column;
  font-size: 24px;
  padding-right: 12px;
  padding-left: 12px;
}

.schedule-card-img img, .food-card-img img{
  width: 75px;
}

.schedule-card ul li, .food-card ul li {
  list-style-type: none;
  list-style: none;
  text-decoration: none;

}


/* ******************************* */
/* RSVP Page */

.rsvp-title {
  font-family: 'Lato';
  font-size: 5em;
}

.rsvp-wrapper {
  /* background-color: var(--cream-color); */
  background-color: white;
  flex-direction: column;
}

#questionForm {
  flex-direction: column;
  height: 100vh;
}


.question {
  display: flex;
  height: 100vh;
  width: 80vw;
  min-height: 500px;
  flex-direction: column;
  background-color: var(--cream-color);

  /* border: 2px solid blue; */
}

.input-holder {
  flex-direction: column;
}

.button-holder {
  flex-direction: row;
}

/* .confirmationSection, .errorSection{
  display: none;
  visibility: hidden;
} */

/* #jump{
  flex-direction: column;
  height:100vh;
} */

label {
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 2em;
}

.nextButton,
.subButton,
.backButton {
  width: 200px;
  height: 50px;
  margin: 25px;
  /* margin-top: 20px; */
  /* padding: 25px; */
  background: var(--mint-color);
  align-items: center;
  vertical-align: middle;

}

.backButton {
  background: var(--pink-color);
}

.nextButton a,
.backButton a,
.subButton a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: transparent;
}

.nextButton a:visited,
.backButton a:visited,
.subButton a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: transparent;
}

.nextButton:hover,
.backButton:hover,
.subButton:hover {
  text-decoration: none;
  font-weight: bold;
  /* color: var(--blue-color); */
  color: black;
  background-color: transparent;
  cursor: pointer;
}


.guest-policy {
  flex-direction: row;
}


/* ************* REGISTRY ********************* */
.registry-wrapper {
  padding-top: 20vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 36px;
}

.registry-wrapper a{
  
    font-size: 18px;
  
}
.registry {
  padding-top: 48px;
}

.registry p {
  text-align: center;
  width: 50%;
  line-height: 32px;
  font-size: 24px;
}

.registry-shops {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.registry-shops img {
  width: 200px;
}

/* temp page */
.temp-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}