*{
--cream-color: #FAFAE9;
--mint-color: #C4E1DC;
--blue-color: #B2CED3;
--pink-color: #F1C4BF;
--beige-color: #F3E8E3;

padding: 0;
margin: 0;
font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 100;

scroll-behavior: smooth;
}

.top{
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
}

nav {
    background-color: transparent;
    color: #000;
    height: 60px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  .logo a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-left: 15px;
  }
  
  .menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: text-decoration 0.3s ease;
  }
  
  .menu li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--blue-color);
  }
  
  .toggle {
    width: 30px;
    height: 30px;
    background-color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .toggle::before,
  .toggle::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 3px;
    width: 20px;
    transition: transform 0.3s ease;
  }
  
  .toggle::before {
    transform: translateY(-7px);
  }
  
  .toggle::after {
    transform: translateY(7px);
  }
  
  .menu.active .toggle::before,
  .menu.active .toggle::after {
    transform: rotate(45deg);
  }
  
  .menu.active .toggle::before {
    transform-origin: top left;
  }
  
  .menu.active .toggle::after {
    transform-origin: bottom left;
  }
  
  .menu.active .toggle::before,
  .menu.active .toggle::after {
    background-color: #fff;
  }
  
  .menu.active .toggle {
    background-color: transparent;
  }
  
  .menu.active .toggle::before {
    transform: rotate(45deg) translate(4px, 6px);
  }
  
  .menu.active .toggle::after {
    transform: rotate(-45deg) translate(4px, -6px);
  }
  
  .menu.active {
    display: flex;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  
  .menu.active li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  .menu.active li a {
    color: #fff;
    font-size: 18px;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .container {
      justify-content: flex-start;
    }
  
    .menu {
      display: none;
    }
  
    .toggle {
      display: flex;
    }
  
    .toggle::before,
    .toggle::after {
      background-color: #fff;
    }
  
    .menu.active {
      display: flex;
      flex-direction: column;
      background-color: #000;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
    }
  
    .menu.active li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .menu.active li a {
      color: #fff;
      font-size: 18px;
      padding: 10px;
    }
  }

section{
    
    /* border: 1px solid black; */
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 20vh;
    flex-direction: column;
    margin-bottom: 10%;
}


.banner-img{
    width:60vw;
    height:auto;

}
/* .banner{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    height:40vh;
    width:auto;
    margin-left: 10vw;
    margin-right: 10vw;
    background-image: url(esang_banner.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: none; 
    background-size: 100% 100%;
    opacity: 1;
    .img{
        object-fit: contain;
    }
    
    
} */

/* .banner-bg{
    background:white;
    opacity:0.4;
    padding:8em;
} */

.banner .h2 {
    font-family: 'Tangerine', serif;
    font-size:2em;
}

.story-wrapper{
    padding:4em;
}
.story{
    padding:2em;
    width:50%;
    font-size: 1.3em;
}
.address{
    flex-direction: column;
}
.about{
    display: flex;
    flex-direction: column;
    height:50vh;
    /* border: 1px solid black; */
}

.date {
    flex-direction: column;
    padding:5vh;
}
.location {
    flex-direction: column;
    padding:5vh;
}

div{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qa{
    flex-direction: column;
    padding: 5vh;
    width: 40%;
}

.colors{
    /* background-color: black; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border:none;
    
}

button h3 {  
    color:black;
}

button h3:hover {
    color:gray;
}


.sq{
    width:100px;
    height:100px;
}

.one{
    background-color: var(--cream-color);
    /* float:left; */
}

.two{
    background-color: var(--mint-color);
    /* float:left; */
}

.three{
    background-color: var(--blue-color);
    /* float:left; */
}

.four{
    background-color: var(--pink-color);
    /* float:left; */
}

.five{
    background-color: var(--beige-color);
    /* float:left; */
}


/* ############################## */
/* SOCIALS / FOOTER */

.socials{
  flex-direction: row;
  justify-content: space-around;
}

.social-icon {
  width:50px;
  height:50px;
  padding: 25px;
}


/* ######## */
/* WEDDING PARTY PAGE */

.header-banner{
    min-height: 5vh;
    margin-top: 5vh;
    font-size: 1.5em;
}

.bridesmaids-section{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.bridesmaid{
    display: flex;
    flex-direction: row;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
    padding-top: 2em;
}

.bridesmaid-img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

.bridesmaid-bio{
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.groomsmen-section{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.groomsmen{
    display: flex;
    flex-direction: row;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
    padding-top: 2em;
}

.groomsmen-img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

.groomsmen-bio{
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.kids-section{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.kids{
    display: flex;
    flex-direction: row;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
    padding-top: 2em;
}

.kids-img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

.kids-bio{
    display: flex;
    flex-direction: column;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    }


/* ******************************* */
/* Schedule page */




/* ******************************* */
/* RSVP Page */

.rsvp{
  flex-direction: column;
  height:100vh;
}

#jump{
  flex-direction: column;
  height:100vh;
}
