<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethan & Sang's Wedding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
    <script src="/static/script.js"></script>
    <section class="rsvp-wrapper">
    <form id="questionForm" class="questionForm"
      method="POST"
      action="https://script.google.com/macros/s/AKfycbyWEg6qbhOV-udp4rNmZ7ZVu6LHDd6ZlU_9y3sIHpWFH6SqypNlLrDI7uDK6a1yguIx/exec">

        <div class="anchor-title question">
            <h1 class="big-title">Ethan & Sang's Wedding</h1>
            <div class="button-holder">
                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-name').scrollIntoView();">Start RSVP</div>
            </div>
        </div>

        <div class="anchor-name question">
            <p>*If you're responding for you and your family (or a guest), you'll
                be able to RSVP for your entire group.
            </p>
            <div class="input-holder">
                
                <label for="name">Full Name:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="button-holder">
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-title').scrollIntoView();">Back</div>
                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-attending').scrollIntoView();">Next</div>
            </div>
        </div>

        <div class="anchor-attending question">
  <h2>Who will be attending?</h2>
  <div class="guest-option">
    {% for guest in guests %}
    <div class="input-holder">
        <label for="guest-{{ guest }}">{{ guest }}</label>
        <label class="switch switch-yes-no">
            <input type="checkbox" class="switch-input" id="guest-{{ guest }}" name="guests[]" value="{{ guest }}" onchange="updateMealOptions()">
            <span class="switch-label" data-on="Yes" data-off="No"></span> 
            <span class="switch-handle"></span> 
        </label>
      
     
    </div>
    {% endfor %}
  </div>

  <div class="button-holder">
    <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-name').scrollIntoView();">Back</div>
    <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-policy').scrollIntoView();">Next</div>
  </div>
</div>



        <div class="anchor-policy question">
            <h2>Guests and Plus Ones</h2>
            <div class="guest-policy">
                <div class="qa guests">
                    <h3>CAN I BRING A GUEST?</h3>
                    <p>We unfortunately cannot accomodate additional guests.
                        Since our capacity is limited, we can only accomodate
                        guests named on your invitation. Your invitation will be
                        addressed to "[Your Name] & Guest" if a plus-one applies
                        to you. If you need to replace your guest, please let us know
                        ahead of time.
                    </p>
                </div>
                <div class="qa kids-invited">
                    <h3>ARE KIDS INVITED?</h3>
                    <p>Due to limited numbers, we hope you only bring children
                        that are listed in your invitation. If your invitation
                        addressed to "The [Your Last Name] Family", then it is
                        implied that your children and significant other have
                        also been invited. On the other hand, if your invitation
                        is for "Mr. and Mrs. [Last Name]" then only you and your
                        significant other have been invited.
                    </p>
                </div>
            </div>
            <div class="input-holder">
                <input type="checkbox" name="policy" id="policy" required>
                <label for="policy">I acknowledge this guest policy.</label>
            </div>
            <div class="button-holder">
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-attending').scrollIntoView();">Back</div>
                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-diet').scrollIntoView();">Next</div>
            </div>
        </div>

        <div class="anchor-diet question">
            <h2>Meal Selection</h2>

            <h3>All meals come with:</h3>
            <ul>
                <li>Little Gem Caesar Salad with House Croutons, Caesar Dressing, and Shredded Parmesan</li>
                <li>Herb Roasted Fingerling Potatoes</li>
                <li>Chef's Roasted Seasonal Vegetables</li>
            </ul>

            <div class="diet-options" id="mealOptions">
              <!-- Meal options will be dynamically populated here -->
            </div>
            <div class="button-holder">
              <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-policy').scrollIntoView();">Back</div>
              <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-phone').scrollIntoView();">Next</div>
            </div>
        </div>


        <div class="anchor-phone question">
            <h2>Contact - Phone Number</h2>
            <div class="input-holder">
                <label for="phone">Phone:</label>
                <input type="tel" name="phone" id="phone" placeholder="Format: 123-456-7890" required>
            </div>
            <div class="button-holder">
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-diet').scrollIntoView();">Back</div>
                <div class="nextButton" id="nextButton" onclick="validatePhone();">Next</div>
            </div>
        </div>

        <div class="anchor-email question">
            <h2>Contact - Email Address</h2>
            <div class="input-holder">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="button-holder">
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-phone').scrollIntoView();">Back</div>
                <div class="nextButton" id="nextButton" onclick="printData();">Next</div>
            </div>
        </div>

        <div class="anchor-thanks question">
            <h1>Thank you for completing your RSVP!</h1>
            <div class="button-holder">
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-email').scrollIntoView();">Back</div>
                <button type="submit" class="subButton">Submit</button>
            </div>
        </div>

    </form>
    </section>
    <a href="/">Back to Home Page</a>
</body>
</html>
    