<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <script src="script.js"></script>
    <section class="rsvp-wrapper">
    <!-- <div id="content"></div> -->
    <form id="questionForm" class="questionForm"
            method="POST"
            action="https://script.google.com/macros/s/AKfycbyqQo3wmZalup3BQ6FIUSuAFmRJVBGqHXxOxNJP46fE8Bhxw_yn8WFLKNbMjJq-W6Wl/exec">

        <div class="anchor-title question">
            <h1>RSVP</h1>

            <div class="button-holder">
                <!-- <button type="button" id="nextButton" class="next" onclick="showNextQuestion()">Next</button> -->
                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-name').scrollIntoView();">Start Here</div>
            </div>

        </div>

        <div class="anchor-name question">

            <div class="input-holder">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </div>

            <div class="button-holder">
                <!-- <button type="button" id="nextButton" class="next" onclick="showNextQuestion()">Next</button> -->
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-title').scrollIntoView();">Back</div>

                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-attending').scrollIntoView();">Next</div>
            </div>

        </div>


        <div class="anchor-attending question">
            <h2>Who will be attending?</h2>
            <div class="input-holder">
                <div class="guest-option">
                {% for guest in guests %}
                    <input type="checkbox" id="guests" name="guests[]" value="{{ guest }}">
                    <label>{{ guest }}</label>
                {% endfor %}
                </div>
            </div>

            <div class="button-holder">
                <!-- <button type="button" id="nextButton" class="next" onclick="showNextQuestion()">Next</button> -->
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-name').scrollIntoView();">Back</div>

                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-policy').scrollIntoView();">Next</div>
            </div>

        </div>

        <div class="anchor-policy question">
            <h2>Guests and Plus Ones</h2>
        <div class="guest-policy">
            <div class="qa guests">
                <h3>CAN I BRING A GUEST?</h3>
                <p>We unfortunately cannot accomodate additional guests.
                    Since our capacity is limited, we can only accomodate
                    guests named on your invitation. Your invitation will be
                    addressed to "[Your Name] & Guest" if a plus-one applies
                    to you. If you need to replace your guest, please let us know
                    ahead of time.
                </p>
            </div>
            <div class="qa kids-invited">
                <h3>ARE KIDS INVITED?</h3>
                <p>Due to limited numbers, we hope you only bring children
                    that are listed in your invitation. If your invitation
                    addressed to "The [Your Last Name] Family", then it is
                    implied that your children and significant other have
                    also been invited. On the other hand, if your invitation
                    is for "Mr. and Mrs. [Last Name]" then only you and your
                    significant other have been invited.
                </p>
            </div>
        </div>
            <div class="input-holder">
                <input type="checkbox" name="policy" id="policy" required>
                <label for="policy">I acknowledge this guest policy.</label>
            </div>

            <div class="button-holder">
                <!-- <button type="button" id="nextButton" class="next" onclick="showNextQuestion()">Next</button> -->
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-attending').scrollIntoView();">Back</div>
                <!-- <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-email').scrollIntoView();">Next</div> -->
<!--                <div class="nextButton" id="nextButton" onclick="validatePhone();">Next</div>-->
                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-diet').scrollIntoView();">Next</div>

            </div>

        </div>
        <!-- <div class="question ">
            <label for="email">Phone:</label>
            <input type="tel" name="phone" id="phone" required>
            <button type="button" id="prevButton" class="prev" onclick="showPreviousQuestion()">Previous</button>
            <button type="button" id="nextButton" class="next" onclick="showNextQuestion()">Next</button>
        </div> -->
        <div class="anchor-diet question">
            <h2>Diet Restrictions</h2>
            <div class="input-holder">
                <div class="diet-option">
                <label for="vegetarian"> Vegetarian:</label>
                <input type="checkbox" name="diet" id="vegetarian">
            </div>
            <div class="diet-option">
                <label for="vegetarian"> Vegan:</label>
                <input type="checkbox" name="diet" id="vegan">
            </div>
            <div class="diet-option">
                <label for="vegetarian"> Gluten-Free:</label>
                <input type="checkbox" name="diet" id="gluten-free">
            </div>
            <div class="diet-option">
                <label for="vegetarian"> Other:</label>
                <input type="checkbox" name="diet" id="other">
            </div>
            <div class="button-holder">
                <!-- <button type="button" id="prevButton" class="back" onclick="showPreviousQuestion()">Previous</button> -->
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-policy').scrollIntoView();">Back</div>
                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-phone').scrollIntoView();">Next</div>
            </div>

        </div>

        <div class="anchor-phone question">
            <h2>Contact - Phone Number</h2>
            <div class="input-holder">
                <label for="phone">Phone:</label>
                <!-- <input type="tel" pattern="\d{3}[\-]\d{3}[\-]\d{4}" name="phone" id="phone" required> -->
                <input type="tel" name="phone" id="phone" placeholder="Format: 123-456-7890" required>
            </div>

            <div class="button-holder">
                <!-- <button type="button" id="nextButton" class="next" onclick="showNextQuestion()">Next</button> -->
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-diet').scrollIntoView();">Back</div>
                <!-- <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-email').scrollIntoView();">Next</div> -->
                <div class="nextButton" id="nextButton" onclick="validatePhone();">Next</div>
            </div>

        </div>

        <div class="anchor-email question">
            <h2>Contact - Email Address</h2>

            <div class="input-holder">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="button-holder">
                <!-- <button type="button" id="prevButton" class="back" onclick="showPreviousQuestion()">Previous</button> -->
                <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-phone').scrollIntoView();">Back</div>
                <div class="nextButton" id="nextButton" onclick="document.querySelector('.anchor-thanks').scrollIntoView();">Next</div>
            </div>

        </div>

        <div class="anchor-thanks question">
                <h1>Thank you for completing your RSVP!</h1>
                <div class="button-holder">
                    <!-- <button type="button" id="prevButton" class="back" onclick="showPreviousQuestion()">Previous</button> -->
                    <div class="backButton" id="backButton" onclick="document.querySelector('.anchor-email').scrollIntoView();">Back</div>
                    <button type="submit" class="subButton">Submit</button>
                </div>

            </div>

    </form>


    <div id="jump">
        <p>dear future ethan, here are some cool things to add</p>
        <p>send email confirmation</p>
        <p>connect responses to google drive</p>
        <p>add invite codes so that people rsvp for themselves</p>
        <p>create separate portals for each family</p>
        <p>let people change their rsvp</p>
    </div>

    </section>

    <a href="/">Back to Home Page</a>
</body>
</html>